<form method="POST" action="">
    <div class="mt-4 pl-4">
  <div class="form-group">
    <label for="inputName">Username</label>
    <input type="text" class="form-control" name="q" id="inputName" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="i" id="inputPassword" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>